.container {
    width: 500px;
    height: auto;
    margin: 0px auto 20px;
    border: 1px solid #000;
    margin-top: 120px;
    box-shadow: 10px 10px 5px gray;
}

.form-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.input-group {
    display: flex;
    margin: 20px;
}

.input-label {
    margin-top: 5px;
}

.input-field {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    height: 10px;
    margin-top: 13px;
}

.password-input {
    padding: 10px;
    border-radius: 5px;
    height: 10px;
    margin-top: 13px;
    width: 60%;
}

.confirm-password-input {
    padding: 10px;
    border-radius: 5px;
    height: 10px;
    margin-top: 13px;
    width: 60%;
}

.submit-button {
    width: 85%;
    height: 50px;
    margin: 0 auto 0 35px;
    border: none;
    background-color: lightskyblue;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: 100%;
    }

    .input-label {
        margin-top: 15px;
    }

    .input-field {
        width: 200px;
    }

    .password-input {
        width: 200px;
    }

    .confirm-password-input {
        width: 200px;
    }

    .submit-button {
        width: 100%;
    }
    
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        height: 100%;
        margin: 235px auto 151px auto;
    }

    .input-group {
        margin: 20px;
    }

    .input-field {
        width: 60%;
        margin-left: 35px;
    }

    .password-input {
        width: 60%;
        margin-left: 20px;
    }

    .confirm-password-input {
        width: 60%;
        margin-left: 20px;
    }

    .submit-button {
        width: 80%;
    }
    
}