.icon-button {
    color: gray;
    background-color: white;
    display: block;
    border: none;
    font-size: x-large;
    margin-top: 5px;
    cursor: pointer;
}

.icon-button:hover {
    color: lightcoral;
}