.hashalltitle {
    width: 1500px;
    max-width: 70%;
    margin: 125px auto 30px auto;
    border-bottom: 1px solid #000;
  }
  
  .hashlist {
    list-style: none;
    width: 95%;
    height: 200px;
    border: 1px solid #000;
    margin: 0 auto;
  }
  
  .hash_circle {
    position: fixed;
    bottom: 25px;
    right: 15px;
    z-index: 1000;
  }
  
  .hash_all {
    width: 1500px;
    max-width: 70%;
    margin: 20px auto 30px auto;
    height: 77vh;
    overflow-y: scroll;
  }
  
  .hash_all::-webkit-scrollbar {
    width: 5px;
    background-color: #23efcd;
    border-radius: 5px;
  }
  .hash_all::-webkit-scrollbar-thumb {
    background: #d8f5fa;
    width: 3px;
    border-radius: 5px;
  }
  
  .hash {
    margin: 0 auto;
  }
  
  
