.userbox {
    width: 250px;
    height: 84vh;
    position: fixed;
    background-color: lightsteelblue;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.userbox::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(7, 7, 7, 0);
    border-radius: 5px;
}

.userbox::-webkit-scrollbar-thumb {
    background-color: rgba(238, 191, 191, 0.993);
    width: 3px;
    border-radius: 5px;
}

.usermap {
    font-size: 1.5rem;
    margin: 0 auto 0 auto;
}

.showbutton {
    width: 200px;
    border: none;
    cursor: pointer;
    height: auto;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
}

.selectbutton {
    width: 200px;
    border: none;
    cursor: pointer;
    background-color: lightsteelblue;
    margin: 10px auto 0 auto;
    display: flex;
}

.selectbutton:hover {
    background-color: aquamarine;
}

.userimage {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: -10px;
}


@media (max-width: 768px) {
    .userbox {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        transition: left 0.3s ease-in-out;
    }

    .userbox.active {
        left: 0;
    }
}


@media (max-width: 480px) {
    .userbox {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        transition: left 0.3s ease-in-out;
    }

    .userbox.active {
        left: 0;
    }
}