/* 吹き出し全体 */
.baloon {
    position: absolute;
    padding: 20px;
    background-color: #ade0ff;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

/* big boal */
.baloon::before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #ade0ff;
    right: -35px;
    width: 30px;
    height: 30px;
}

/* small boal */
.baloon::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #ade0ff;
    right: -55px;
    width: 15px;
    height: 15px;
}

/* 右上に配置 */
.baloontopright {
    top: 100px;
    right: 140px;
}

.baloontopright::before {
    left: -35px;
    bottom: 5px;
}

.baloontopright::after {
    left: -55px;
    bottom: 5px;
}

/* 左下に配置 */
.baloontopleft {
    bottom: 10px;
    left: 130px;
}

.baloontopleft::before {
    right: -35px;
    top: 5px;
}

.baloontopleft::after {
    right: -55px;
    top: 5px;
}

/* 右下に配置 */
.baloonbottomright {
    bottom: 10px;
    right: 140px;
}

.baloonbottomright::before {
    left: -35px;
    top: 5px;
}

.baloonbottomright::after {
    left: -55px;
    top: 5px;
}
